%ul
  %li
    %p.middle_content__name
      = current_user.name
    %p.middle_content__date
      = message.created_at
    %p.middle_content__messages
      = message.body
      = image_tag message.image
