%html
  %head
    %title
      chat-space
  %body
    .header
      チャットグループが作成されました。
    .left_content
      .user
        .name
          ユーザー名
        .content
      .chat
        %ul
          %li
            グループ1
          %li
            グループ2
          %li
            グループ3

    .right_content
      .right
        .group
          .name
            グループ名
          .member_name
            member :ユーザー


