!!!
.html
  .head
    %title
      chat-space
  .body
    = render partial: "/groups/sidebar", locals: { groups: @groups }

    .right_content
      .top_content
        = link_to 'Edit',"/groups/1/edit", class: "edit_chat"
        %p.name
          グループ名
        %p.member_name
          member :ユーザー
      .center_content
        %ul
          %li
            %p.name
              ユーザー名
            %p.comment
              おはよう!!
        %ul
          %li
            %p.name
              ユーザー名
            %p.comments
              こんにちは!!
      .format
        %input.format__input{class: 'submit', type: 'text',placeholder: "Type a message"}

        %i.fa.fa-file-image-o.format__icon
          = link_to "", "", type: "file", name: "image", class: "icon_tag"

        %button.format__button{ type: "submit"}Send
