.left_content {
  background-color: #253141;
  width: 300px;
    .left-top {
      background-color: 253141;
      height: 80px;
      .left_top_title {
          font-size: 30px;
          font-weight: bold;
          color: #FFFFFF;
    }
  }
}