.right_content {
  background-color: #FBFBFB;
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
    .top_content {
      padding: 0px 40px 0 40px;
      height: 100px;
      border-bottom: 0,5px solid #eeeeee;
      background-color: white;
        .edit_chat {
          float: right;
          border: solid 0.5px #38AEF0;
          color: #38AEF0;
          padding: 10px 20px;
          position: absolute;
          top: 28px;
          right: 40px;
        }
        .name {
          font-size: 20px;
          color: #333333;
          padding-top: 35px;
        }
        .member_name {
          font-size: 12px;
          color: #999999;
          margin-top: 15px;
        }
    }
    .center-content {
      background-color: #FBFBFB;
      padding: 0 40px;
      max-height: calc(100vh - 190px);
      overflow: scroll;
      .chat{
        overflow: scroll;
        &__name {
          margin-top: 7px;
          font-size: 18px;
          font-weight: bold;
          float: left;
        }
        &__date {
          font-size: 10px;
          color: #444444;
          float: left;
          padding-left: 50px;
          padding-top: 15px;
        }
       &__message {
          font-size: 15px;
          clear: both;
          margin-bottom: 20px;
          }
       }
    }
  .format{
    background-color: #DCDCDC;
    height: 90px;
    float: left;
    clear: both;
    width: calc(100vw - 340px);
    padding-right: 40px;
    .field-label{
      &__input{
        height: 50px;
        width: calc(100% - 190px);
        padding-left: 10px;
        font-size: 16px;
        color: #434A54;
        border: none;
        margin: 20px 0px 20px 40px;
        float: left;
        &__icon{
          display: none;
          &__icong {
          font-size: 20px;
          background-color: white;
          float: left;
          height: 50px;
          width: 20px;
          margin: 20px 15px 20px 0px;
          padding-right: 10px;
          line-height: 50px;
          }
          }
        }
      }
    .field-submit{
      &__botton{
        height: 50px;
        width: 90px;
        font-size: 16px;
        color: white;
        background-color: #38AEF0;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        }
      }
    }
}
